@charset "utf-8";
p{
    color: #36a93b;
}
video {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* メイン見出しスタイル */
h1 {
    text-align: center;
    margin-bottom: 20px;
}
/*各見出しスタイル*/
h2
{
    text-align: center; /* テキストを中央揃えにする */
    font-weight: bold; /* テキストを太字にする */
    margin-top: 20px; /* 上部のスペース */
    margin-bottom: 20px; /* 下部のスペース */
}

/* 画像グリッドスタイル */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* 各画像アイテムのスタイル */
.image-item {
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
}
.full-width {
    grid-column: 1 / -1; /* グリッドの全幅を使用 */
    text-align: center; /* 中央揃え */
}