@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Tiny+5&display=swap');

p {
    color: #000000;
}
/* フェードインのアニメーション */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ズームインのアニメーション */
@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.image-item img, .video-item video {
    width: 100%;
    /* 高さは自動調整 */
    height: auto;
    /* アスペクト比を16:9に設定 */
    aspect-ratio: 16 / 9;
}


    .video-item video.no-aspect-ratio {
        aspect-ratio: auto;
    }

/* 初期状態では透明度を0に設定 */
.image-item img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

    /* 視界に入ったときのスタイル */
    .image-item img.visible {
        opacity: 1;
    }
/* 見出しのアニメーション適用 */
h1, h2, h4 {
    animation: fadeIn 1s ease-in-out, zoomIn 1s ease-in-out;
}

/* 画像のホバーアニメーション */
.image-item img:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

/* フォントの適用例（GoogleFontから選択） */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'sans-serif', sans-serif;
    background: linear-gradient( 90deg, #ff3cac 0%, /* 開始色 */
    #ff559c 20%, #784ba0 40%, /* 中間色 */
    #4b8ac5 60%, /* 中間色 */
    #2b86c5 80%, /* 終了色 */
    #ff3cac 100% /* 終了色（開始色と同じ）*/
    );
    height: 100vh;
    background-size: cover;
    margin: 0;
}
/* ビデオのスタイル */
video {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* メイン見出しスタイル */
h1 {
    /* センターに */
    text-align: center;
    /* テキストを太字に */
    font-weight: bold;
    margin-bottom: 25px;
    /* 上部のスペース */
    margin-top: 15px;
    /* 下部のスペース */
    margin-bottom: 15px;
    font-size: 20px;
}
/*各見出しスタイル*/
h2 {
    background-color: black;
    color: white;
    /* 上部のスペース */
    margin-top: 10%;
    /* 下部のスペースを設定 */
    margin-bottom: 10px;
    padding: 5px 0;
    /* テキストを中央揃えに */
    text-align: center;
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h3 {
    text-align: center; /* テキストを中央に揃える */
    position: relative; /* 線を中央に揃えるためにrelativeを使用 */
}

    h3::after {
        content: '';
        display: block;
        width: 250px; /* 線の幅を短く設定 */
        height: 3px;
        background-color: black; /* 黒い線を追加 */
        margin: 10px auto 0; /* 上下のマージンを調整し、中央寄せ */
    }


/*プラットフォーム名*/
h4 {
    /* テキストを中央揃えにする */
    text-align: center;
    /* テキストを太字にする */
    font-weight: bold;
    /* 上部のスペース */
    margin-top: 15px;
    /* 下部のスペース */
    margin-bottom: 15px;
    /* フォントサイズ */
    font-size: 20px;
}

/* 画像グリッドスタイル */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}


.image-item {
    text-align: center;
    margin-bottom: 30px;
}

    .image-item img {
        width: 70%;
        height: auto;
        /* 黒い太めのボーダーを追加 */
        border: 4.5px solid black;
        /* ボーダーを含めたサイズ計算に変更 */
        box-sizing: border-box;
        /* 画像の上部にスペースを追加 */
        margin-top: 30px;
        margin-bottom: 5px;
    }

.full-width {
    grid-column: 1 / -1;
    text-align: center;
}

/* テキストのスタイル */
p.description {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 10px;
    color: white;
    word-wrap: break-word;
    /* テキストの最大幅を設定 */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* 黒のアウトラインを追加 */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


@media screen and (max-width: 600px) {
    p.description {
        /* スマートフォンなどの小さい画面では幅を100%に */
        max-width: 100%;
    }
}

/* 目次のスタイル */
.toc ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

    .toc ul li {
        display: inline;
    }

/* 灰色バナーのスタイル */
.toc-banner {
    background-color: black;
    justify-content: center;
    padding: 10px 0;
    /* 画像の上部にスペースを追加 */
    margin-top: 50px;
    /* 画像の下部にスペースを追加 */
    margin-bottom: 50px;
}

.toc ul li a {
    font-size: 30px;
    /* テキストを太字にする */
    font-weight: bold;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.development-period {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}



.footer-banner {
    /* 黒色の背景 */
    background-color: #000;
    /* 文字を白色に */
    color: #fff;
    /* テキストを中央揃えに */
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

    .footer-banner a {
        /* リンクの色を白色に */
        color: #fff;
        text-decoration: none;
    }

        .footer-banner a:hover {
            text-decoration: underline;
        }

@media screen and (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr;
    }

    .image-item img {
        width: 90%;
    }

    h1, h2, h4 {
        /* 見出しのフォントサイズを小さくする */
        font-size: 1.5rem;
    }

    .toc ul li a {
        /* 目次のフォントサイズを調整 */
        font-size: 1.2rem;
    }
}

/* スマートフォン向けのスタイル */
@media screen and (max-width: 480px) {
    h1, .full-width h2 {
        /* フォントサイズを小さくする */
        font-size: 1.2rem;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.2;
        word-wrap: break-word;
    }

    .main-title {
        /* フォントサイズを小さくする */
        font-size: 1.2rem;
    }

        .main-title .title-break {
            display: block;
        }

        .main-title .school-name {
            display: inline;
        }

    .fade-slide-text {
        /* フォントサイズを適切に小さく調整 */
        font-size: 16px;
        padding: 10px 5px;
    }
        /* 名前は気にしないで */
        .fade-slide-text.creative-world {
            font-size: 16px;
            padding: 10px 5px;
        }

    .image-grid {
        grid-template-columns: 1fr;
    }

    .image-item img {
        /* 画像を幅いっぱいに表示 */
        width: 100%;
        /* 画像の上の余白を調整 */
        margin-top: 15px;
        /* 画像の下の余白を調整 */
        margin-bottom: 15px;
    }

    h1, h2, h4 {
        /* 見出しのフォントサイズを小さくする */
        font-size: 1.2rem;
        /* 見出しの上の余白を調整 */
        margin-top: 10px;
        /* 見出しの下の余白を調整 */
        margin-bottom: 10px;
    }

    .toc ul {
        flex-direction: column;
        /* 中央揃えにする */
        align-items: center;
    }

        .toc ul li {
            margin-bottom: 10px;
        }

            .toc ul li a {
                /* 目次のフォントサイズを小さくする */
                font-size: 1rem;
            }

    .footer-banner {
        font-size: 0.8rem;
    }

    p.description {
        /* 説明文のフォントサイズを小さくする */
        font-size: 0.8rem;
    }
}

/* デスクトップ向けのスタイル */
@media screen and (min-width: 481px) {
    .main-title .title-break {
        display: none;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    position: relative;
    background: linear-gradient(90deg, #c8327b, #b74485, #6a3f8e, #416b9e, #2d6d9b, #c8327b); /* 少し明るめの暗めグラデーション */
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 80%;
    margin: 5% auto;
    padding: 20px;
}

    .modal-content p {
        font-weight: bold;
        font-size: 15px;
        color: #ffffff; /* テキストを白に */
        line-height: 1.6;
        text-shadow: -1.3px -1.3px 0 #000, 1.3px -1.3px 0 #000, -1.3px 1.3px 0 #000, 1.3px 1.3px 0 #000;
    }


    /*
https://www.geo-code.co.jp/webdev/mag/modal/
*/

    /* モーダルウィンドウ内の画像のスタイル */
    .modal-content img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: 4.5px solid black;
        box-sizing: border-box;
    }

/* スライドのスタイルを修正 */
.slide img {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    border: 2px solid black;
    /* ボタンを円形にする */
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}

    .close-button:hover,
    .close-button:focus {
        color: black;
        background-color: white;
        text-decoration: none;
        cursor: pointer;
    }

.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

.centered-text {
    text-align: center;
}

@keyframes fadeSlideTextAnimation {
    from {
        opacity: 0;
        transform: translateX(100%) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@keyframes fadeInScaleSmall {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-slide-text {
    font-size: 5rem;
    animation: fadeSlideTextAnimation 3s ease forwards;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    position: relative;
    display: inline-block;
    transition: opacity 3s ease, background-color 0.5s linear;
    color: white;
}

    .fade-slide-text span {
        padding: 2px 4px;
        box-sizing: border-box;
        display: inline-block;
        transition: background-color 0.5s linear;
    }

    .fade-slide-text::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: rgb(0, 0, 0);
        z-index: -1;
        transition: width 1s linear;
    }

    .fade-slide-text.creative-world {
        font-size: 30px;
        background-color: black;
        padding: 15px;
    }

.fade-slide-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video-item {
    text-align: center;
    margin-bottom: 30px;
    padding: 4.5px;
    background-color: black;
}

    .video-item video {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        box-sizing: border-box;
        margin-top: 30px;
        margin-bottom: 5px;
    }

@media screen and (max-width: 768px) {
    .video-item video {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .video-item video {
        width: 100%;
    }
}

.centered {
    display: flex;
    justify-content: center;
    width: 100%;
}
.video-slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

    .video-slider video {
        width: 100%;
        height: auto;
    }

    .video-slider .prev, .video-slider .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        user-select: none;
        z-index: 1;
    }

    .video-slider .prev {
        left: 0;
    }

    .video-slider .next {
        right: 0;
    }

        .video-slider .prev:hover, .video-slider .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
